/*================================================
0. Configuration
================================================*/

:root {
  --primary_color: #242A32;
  --secondary_color: #FFFF;
  --tertiary_color: #3A3F47;
  --quartenary_color: #FB9722;
  --quintenary_color: rgb(54, 59, 61);
  --font_primary: Consolas;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1.25rem;
  font-family: var(--font_primary);
  text-align: center;
  overflow: hidden;
  color: var(--secondary_color);
  background-color: var(--primary_color);
  user-select: none;
  overflow-y: scroll;
  margin: 0;
}

label, 
input, 
button {
  font: inherit;
}

.border {
  /*border: 3px solid green;*/
}

.center {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.lighter {
  font-weight: lighter;
}

.section {
  padding: 30px 0 30px 0;
}

/*================================================
1. What do you want to watch?
================================================*/

.title {
  color: var(--secondary_color);
  background-color: var(--quintenary_color);
  padding: 120px;
}

.line {
  border-bottom-width: 2px;
  width: 100%;
  margin-top: 2rem;
}

/*================================================
1.1. Type the name of a movie you like...
================================================*/

.searchbar {
  color: var(--secondary_color);
  background-image: linear-gradient(to right , var(--tertiary_color) , #3a3f47f1);
  width: 100%;
  display: block;
  box-sizing: border-box;
  max-width: 500px;
  padding: 1rem;
  border: 0;
  border-radius: 1.6rem;
}

::placeholder .searchbar {
  color: rgba(255, 255, 255, 0.685);
  opacity: 1;
}

/*================================================
1.2. Recommend movies with similar...
================================================*/

.checkbox input[type="checkbox"] {
  margin: 0;
  /*opacity: 0;*/
  transform: scale(0);
}

.checkbox input[type=checkbox] + 
label {
  cursor: pointer;
  overflow: hidden;
  color: var(--secondary_color);
  background-image: linear-gradient(to right , var(--tertiary_color) , #3a3f47f1);
  width: fit-content;
  max-width: 100%;
  padding: 1rem;
  border-radius: 0.6rem;
}

.checkbox input[type=checkbox]:checked + 
label {
  color: var(--primary_color);
  background-image: linear-gradient(to top , var(--quartenary_color) , #fca644);
}

.checkbox input[type=checkbox]:hover + 
label {
  background-image: linear-gradient(to top , var(--quartenary_color) , #fca644);
}

/*================================================
1.3. Select the number of recommendations you want
================================================*/

.amount {
  color: var(--secondary_color);
  background-image: linear-gradient(to right , var(--tertiary_color) , #3a3f47f1);
  max-width: 100%;
  min-height: 3rem;
  border: 0;
  border-radius: 0.6rem;
}

::placeholder .amount {
  color: rgba(255, 255, 255, 0.685);
  opacity: 1;
}

/*================================================
1.4. Recommend
================================================*/

.recommend {
  cursor: pointer;
  overflow: hidden;
  color: var(--quartenary_color);
  border-color: var(--quartenary_color);
  background-color: var(--primary_color);
  width: fit-content;
  max-width: 100%;
  padding: 1rem;
  border-radius: 0.6rem;
}

.send:active{
  color: var(--primary_color);
  background-image: linear-gradient(to top , var(--quartenary_color) , #fca644);
}

.recommend:hover {
  color: var(--primary_color);
  background-image: linear-gradient(to top , var(--quartenary_color) , #fca644);
}

/*================================================
2. Media queries
================================================*/

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
}
