  body {
    font-family: calibri;
    margin: 0px;
    background-color: #202324;
    overflow: hidden;
  }

  h1 {
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 32px;
  }

  #filter {
    color: white;
    display: flexbox;
    text-align: center;
    justify-content: center;
    height: 100vh;
  }

  input {
    font-family: calibri;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }