{% extends 'base.html' %}

{% block head %}
    <title id="title">Recommendation System</title>

{% endblock %}

{% block body %}
    <h1>Movie Recommendation System</h1>
    <div class="checkbox">
        <input type="checkbox" id="checkbox_1">
        <label for="checkbox_1">Director</label>


        <input type="checkbox" id="checkbox_2">
        <label for="checkbox_2">Overview</label>


        <input type="checkbox" id="checkbox_3">
        <label for="checkbox_3">Genre</label>
    </div>


    
      

{% endblock %}