{% extends 'base.html' %}

{% block head %}
<title id="title">Recommendation System</title>
<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
{% endblock %}

{% block body %}
<div class="hero">
    <section class="left">
      <h1 class="separated">Movie Recommendation System</h1>
      <p class="separated lighter">Enter a movie you like and the site will analyze the database to provide recommendations for what to watch next</p>
    </section>

    <section class="right">
      <img class="separated shadow" src="https://qph.cf2.quoracdn.net/main-qimg-3b4f00765be511cb20048fb400a44439-lq" alt="Hero illustration"/>
    </section>
</div>

<div class="program">
    <form action="#">
        <div class="filter">
            <section class="left">
                <h2 class="separated">What do you want to watch?</h2>
                <p class="separated lighter">Type on the searchbar the name of a movie you like, the site will take that information as a starting point of reference</p>
            </section>
            
            <section class="right">
                <input class="searchbar separated" type="text" placeholder=" Type here" name="search" required>
            </section>
        </div>



        <div class="filter">
            <section class="left">
                <h2 class="separated">Recommend movies with similar...</h2>
                <p class="separated lighter">Select a filter of your interest</p>
            </section>

            <section class="right">
                <div class="checkbox shadow separated">
                    <input type="checkbox" id="checkbox_1" onclick="onlyOne(this)" name="check" value="Director">
                    <label for="checkbox_1">Director</label>

                    <input type="checkbox" id="checkbox_2" onclick="onlyOne(this)" name="check" value="Genre">
                    <label for="checkbox_2">Genre</label>

                    <input type="checkbox" id="checkbox_3" onclick="onlyOne(this)" name="check" value="Overview">
                    <label for="checkbox_3">Overview</label>
                </div>
            </section>
        </div>

        <div class="filter">
            <section class="left">
                <h2 class="separated">Type the number of recommendations you want</h2>
            </section>

            <section class="right">
                <input type="number" min="1" max="15" placeholder="1" required class="amount">
            </section>
        </div>
        
        <div class="filter">
            <div class="">
                <button type="submit" class="recommend">Recommend</button>
            </div>
        </div>




    </form>
</div>


{% endblock %}