{% extends 'base.html' %}
{% block head %}
<title>Recommendation System</title>
<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
{% endblock %}

{% block body %}

<header>
    <div class="header-box">
        <div class="logo">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo">
            <h3><a href="/">Movie Recommendation System</a></h3>
        </div>
    </div>
  </header>

<div class="hero">
    <div class="filter">
            <h2 class="separated">Here's a list of {{movieRecAmount}} movies that share similar {{movieFilter}} with {{movieRefName}}</h2>
    </div>
</div>
<div class="program">
    <div class="filter">
        <section class="center">
            {% for movie in recommendation_list %}
                <h2 class="separated lighter">{{movie}}</h2>
                <img class="separated" src="{{poster_list[loop.index0]}}">
            {% endfor %}
        </section>
    </div>
</div>

{% endblock %}
